/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
	background-color: #D4D4D4;
	line-height: 1.5;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 10px ;
}

.bor-radius{
    border-radius: 8px;
}

.code{
	background-color: #F9D5D2;
}

section{
	padding: 10px 0;
}

.bor-radius{
	border: 1px solid lightslategrey;
}

.pad{
	padding: 25px;
}

/* Typography */
h1{
    font-size: 32px;
    
}

/* Clearfix */
.clearfix::after,
.clearfix::before{
	content: "";
	display: table;
}

.clearfix::after{
	clear: both;
}



/* Header */
.heading{
    padding: 25px 0px;
}



/* First Section */

.inline-block{
	width: 45%;
	display: inline-block;
}

.first-left,
.first-right{
	background-color: #F07168;

}

.first-left{
	vertical-align: top;
}

.second-left,
.second-right{
	background-color: #75E694;
	width: 45%;
	float: left;
}

.third-left,
.third-right{
	background-color: #F07168;
	width: 50%;
	display: inline-block;
}

.third-right{
	margin: 15px 0;
}

.fourth-left,
.fourth-right{
	float: left;
	width: 50%;
	background-color: #75E694;
}